.grid-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid{
    display: flex;
    gap: 1rem;
    height: 500pxpx;
    width: 500px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.turn-highlight{
    color: white;
}
.reset{
    padding: 1rem;
    color: rgb(18, 18, 18);
    background-color: #2eb7e5;

    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    
}